<form method="post" action="{% url 'traducir' %}">
  {% csrf_token %}

{% extends 'main.html' %}
{% block title %}Traducir{% endblock %}
{% block content %}
    <h2>Traducir una palabra</h2>
    <a href="{% url 'buscar' %}">Buscar</a>
    <a href="{% url 'historial_traducciones' %}">Historial de Traducciones</a>
    <!-- Agrega el contenido específico de esta página aquí -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Traducir</button>
    </form>

    <label for="id_palabra_en">Palabra en inglés:</label>
      <input type="text" name="palabra_en" id="id_palabra_en">
      <br>
      <label for="id_palabra_es">Palabra en español:</label>
      <input type="text" name="palabra_es" id="id_palabra_es">
      <br>
      <input type="submit" value="Traducir">
  </form>

{% endblock %}
