{% block content %}
  <h1>Búsqueda</h1>

  <form action="{% url 'busqueda_view' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Buscar">
  </form>

  {% if resultados %}
    <h2>Resultados de la búsqueda</h2>

    {% for traduccion in resultados %}
      <p>
        <strong>Inglés:</strong> {{ traduccion.texto_ingles }}
        <br>
        <strong>Español:</strong> {{ traduccion.texto_espanol }}
      </p>
    {% endfor %}
  {% else %}
    <p>No se encontraron resultados.</p>
  {% endif %}

{% endblock %}
