{% block content %}
  <h1>Traductor</h1>

  <form action="{% url 'traductor_view' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Traducir">
  </form>

  {% if traducciones %}
    <h2>Historial de traducciones</h2>

    {% for traduccion in traducciones %}
      <p>
        <strong>Inglés:</strong> {{ traduccion.texto_ingles }}
        <br>
        <strong>Español:</strong> {{ traduccion.texto_espanol }}
      </p>
    {% endfor %}
  {% endif %}

{% endblock %}
