<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traductor - Traducción</title>
</head>
<body>
    <h1>Traducción</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Traducir</button>
    </form>

    <h2>Traducciones Guardadas:</h2>
    <ul>
        {% for traduccion in traducciones %}
            <li>{{ traduccion.texto_original }} - {{ traduccion.texto_traducido }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'inicio' %}">Volver a Inicio</a>
</body>
</html>
